body {
  background-color: lightskyblue;
}

#wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 50vh 5vh 5vh 5vh 5vh 5vh;
  text-align: center;
  justify-items: center;
  align-items: center;
}

textarea {
  width: 100em;
  height: 30em;
  resize: none;
}

#title {
  font-size: 48px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

